@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
body {
  font-family: "Open Sans", sans-serif; }

h1 {
  text-transform: uppercase; }

.content-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap; }

header {
  top: 0;
  left: 0;
  width: 100%;
  color: white;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2); }
  header .content-container {
    position: relative;
    align-items: center;
    justify-content: space-between; }

#logo {
  margin: 10px; }

nav {
  margin-right: 10px; }
  nav ul {
    color: white;
    margin: 0;
    display: inline-block;
    text-align: center;
    list-style: none;
    padding-inline-start: 0; }
    nav ul li {
      display: inline-block;
      padding: 1em; }
      nav ul li a,
      nav ul li a:visited {
        color: white;
        text-decoration: none; }
    @media screen and (max-width: 600px) {
      nav ul {
        top: 74px;
        right: -75%;
        width: 100%;
        display: block;
        position: absolute;
        overflow: hidden;
        text-align: center;
        transition: all 0.3s ease-in-out; }
        nav ul li {
          display: block;
          width: 100%; }
        nav ul.active {
          max-height: calc(50px * 3);
          right: 0;
          background-color: rgba(0, 0, 0, 0.5); } }

#nav-toggle {
  display: none;
  cursor: pointer; }
  @media screen and (max-width: 600px) {
    #nav-toggle {
      display: flex;
      align-items: center; } }
  #nav-toggle #menu-toggle-icon {
    margin-left: 10px; }
    #nav-toggle #menu-toggle-icon span {
      user-select: none;
      background: #eee;
      display: block;
      width: 30px;
      height: 3px;
      margin-top: 6px;
      margin-bottom: 4px;
      position: relative;
      top: 0;
      transition: all ease-in-out 0.2s; }
  #nav-toggle.open > #menu-toggle-icon span:nth-child(1) {
    transform: rotate(-45deg);
    top: 9px; }
  #nav-toggle.open > #menu-toggle-icon span:nth-child(2) {
    width: 0;
    opacity: 0; }
  #nav-toggle.open > #menu-toggle-icon span:nth-child(3) {
    transform: rotate(45deg);
    top: -9px; }
  #nav-toggle #burger-menu.open span:nth-child(2) {
    width: 0;
    opacity: 0; }
  #nav-toggle #burger-menu.open span:nth-child(3) {
    transform: rotate(45deg);
    top: -24px; }
  #nav-toggle #burger-menu.open span:nth-child(1) {
    transform: rotate(-45deg);
    top: 24px; }

.hero-container {
  background-image: url("../images/hero-bg.png");
  background-size: cover;
  height: 80vh;
  max-width: 100%; }
  .hero-container .content-container {
    height: 100%;
    justify-content: right;
    align-items: baseline; }
    .hero-container .content-container .hero-text {
      margin-right: 10px;
      margin-bottom: 10%;
      color: white;
      align-self: flex-end;
      text-align: right; }
      .hero-container .content-container .hero-text h1 {
        color: #00aef2;
        font-size: 3em;
        font-weight: 700;
        margin: 0; }
      .hero-container .content-container .hero-text p {
        font-size: 1.4em;
        margin: 5px; }
    @media screen and (max-width: 750px) {
      .hero-container .content-container {
        align-items: center;
        justify-content: center; }
        .hero-container .content-container .hero-text {
          align-self: center;
          text-align: center; } }

/*# sourceMappingURL=styles.css.map */
