header {
  top: 0;
  left: 0;
  width: 100%;
  color: white;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  .content-container {
    align-items: center;
    justify-content: space-between;
  }
}

#logo {
  margin: 10px;
}
