nav {
  position: relative;
  margin-right: 10px;
  ul {
    color: white;
    margin: 0;
    display: inline-block;
    text-align: center;
    list-style: none;
    padding-inline-start: 0;
    li {
      display: inline-block;
      padding: 1em;
      a,
      a:visited {
        color: white;
        text-decoration: none;
      }
    }
    @media screen and (max-width: 600px) {
      top: 50px;
      left: 0;
      width: 100%;
      display: block;
      position: absolute;
      overflow: hidden;
      text-align: center;
      max-height: 0px;
      li {
        display: block;
        width: 100%;
      }
    }
  }
}

#nav-toggle {
  display: none;
  cursor: pointer;
  @media screen and (max-width: 600px) {
    display: inline-block;
  }
}
