@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

body {
  font-family: "Open Sans", sans-serif;
}

h1 {
  text-transform: uppercase;
}

.content-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
}

@import "header";
@import "nav";
@import "hero-container";
